@import url(./css/normalize.css);

//-------------------------------------------------------------------

$tcolor: white;
$bcolor: black;

//-------------------------------------------------------------------

@mixin centerpage($colcenter, $rowcenter){
	display: flex;
	height: 100vh;
	justify-content: $colcenter;
	align-items: $rowcenter;
}

//-------------------------------------------------------------------

*{
	padding: 0;
	margin: 0;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.git{
	@include centerpage(center, center);

	h1{
		font-size: 3rem;
	}

	&:hover{
		background-color: $tcolor;
		color: $tcolor;
		transition: all 1s ease 0s;
		h1{
			transform: scale(2);
			transition: all 1.5s ease 0s;
		}
	}
}